<script setup lang="ts">
import TheWelcome from '../components/TheWelcome.vue'
</script>

<template>
  <div class="about">
    <h1 class="flex justify-center text-3xl font-bold">HOME PAGE</h1>
  </div>
</template>
