<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
  <div class="w-full h-60">
    <nav class="bg-[#180176] flex justify-center font-mono h-10 items-center">
      <router-link to="/" class="text-white hover:text-gray-300 mr-4">Home</router-link>
      <router-link to="/product" class="text-white hover:text-gray-300 mr-4">Product</router-link>
      <router-link to="/about" class="text-white hover:text-gray-300">About</router-link>
    </nav>
  </div>
  <router-view />
</template>